body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(17, 48, 140) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1{
    color: rgb(0, 0, 0);
}

input, button{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}